.container {
    margin: 50px 0px;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.6);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.6);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.6);
}
